.div-wrapper {
  width: 100%;
  height: 50%;
  background-color: #f0f0f5;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 100px; */
}
.footer-logo {
  width: 100px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer-logo img {
  width: 100%;
}
.footer-logo .title {
  font-family: Gilroy-bold;
  font-size: 30px;
  color: #b80000;
}
.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.company-info span {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Gilroy-medium;
  color: #14181f;
}
.company-info a {
  font-size: 20px;
  font-family: Gilroy-light;
  cursor: pointer;
  text-decoration: none;
  color: #82858a;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-us span {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Gilroy-medium;
  color: #14181f;
}
.contact-us a {
  font-size: 20px;
  font-family: Gilroy-light;
  cursor: pointer;
  text-decoration: none;
  color: #82858a;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-links span {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Gilroy-medium;
  color: #14181f;
}
.social-links a {
  font-size: 20px;
  font-family: Gilroy-light;
  cursor: pointer;
  text-decoration: none;
  color: #82858a;
}
