/* MenuCategory things */
/* .menu-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
.dropdown {
  font-family: Gilroy-medium;
  user-select: none;
  font-size: 18px;
  cursor: pointer;
} */
