/* .item-card {
  width: 100%;
  min-height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  // overflow: hidden; 
} */

/* .item-card .item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 70%;
   //height: 20%; 
  // white-space: nowrap; 
} */

/* .item-info .item-name {
  font-family: Gilroy-bold;
} */

/* .item-info .item-price {
  font-family: Gilroy-medium, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
/* .item-info .item-desc {
  font-family: Gilroy-light;
  margin-top: 6px;
  max-height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
} */

/*  */

/* .item-card .item-image {
  width: 156px;
  max-height: 144px;
  position: relative;
} */

/* .item-card .item-image img {
  width: 156px;
  height: 144px;
  object-position: center;
  object-fit: cover;
  border-radius: 15px;
} */

/* Base styles for .add-item button inside .item-image */
.item-image .add-item {
  /* position: absolute;
  left: 14%;
  bottom: -15px;
  font-family: Gilroy-bold, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  width: 120x;
  height: 40px;
  padding: 10px 40px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid #d9dadb;
  background-color: white;
  color: #4caf50;
  z-index: 10; */
  &:hover {
    transform: scale(1);
    background-color: #d9dadb;
  }
}
