.help-wrapper {
  width: 100vw;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: Gilroy-medium;
  font-size: 70px;
}
h2 {
  font-family: Gilroy-light;
  font-size: 30px;
}
