/* .wrapper {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .wrapper .box {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(251, 220, 220);
  border-radius: 10px;
  gap: 20px;
} */
/* .box .form-heading {
  font-family: Gilroy-bold;
  font-size: 2rem;
} */
/* .box .number-input {
  width: 80%;
  height: 15%;
  outline: none;
  padding: 20px;
  font-size: 18px;
} */
/* .box .submit {
  font-family: Gilroy-medium;
  width: 80%;
  height: 15%;
  cursor: pointer;
  background-color: #b80000;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
} */
/* .term-condition {
  font-family: Gilroy-medium;
  width: 100%;
  text-align: start;
  font-size: 11px;
  padding: 0 50px;
} */
/* .term-condition > span {
  font-weight: 600;
}
.create-account {
  font-family: Gilroy-medium;
  font-size: 14px;
} */
/* .create-account > span {
  user-select: none;
  font-family: Gilroy-bold;
  cursor: pointer;
} */
